<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="secret" value="9e58174eb2871ca650bb865e2d1b1309"/>
    <add key="appId" value="1093443474080502"/>
  </appSettings>
</configuration>